body {
    /* remove margins and scroll bars */
    margin: 0;
  
    /* style text */
    text-align: center;
    font-size: 12px;
    font-family: Sans-Serif;
  
    /* color text */
    color: #444;
  }
  
  h1 {
    /* position the heading */
    position: absolute;
    width: 100%;
  
    /* make sure that the heading is drawn on top */
    z-index: 1;
  }
  
  #scene-container {
    background-color: skyblue;
  }
  
  #capsule {
    background-color: red;
  }
  body {
    background-color: skyblue;
  }
  
#scene-container {
  visibility: hidden;
}  
  